<%# Loop through all @products and render them inside a HTML card %>
<% @products.each do |product| %>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= product.name %></h2>
    <p><%= product.tagline %></p>
  </div>
</div>
<% end %>
